@model IEnumerable<SMS.Models.Founder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FounderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FounterContact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FounderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FounterContact)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FounderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FounderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FounderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
